* {
    margin: 0;
    padding: 0;      
    font-family: sans-serif;
    box-sizing: border-box;
}
.hel1 {
    position: absolute;  
    width: 80%;      
    height: 60vh;
    margin-left: 10%;
    margin-top: 0.3%;
}      
.hel2 {
    position: relative;   
    margin-left: 100px;
    padding-top: -350px;    
    font-size: 25px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.call1 {
    margin-top: 60px;
    font-family: sans-serif;
    line-height: 30px;
}
.moc2 {
    margin-left: 8%;
    font-size: 25px;
}
.moc3 {
    margin-left: 8%;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
}      
.moc4 {
    margin-left: 8%;
    font-size: 18px;
}

.coc {
    position: relative;
    margin-top: -30%;
}
.back-video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 110%;
    z-index: -100;
}
@media (min-aspect-ration: 16/9) {
    .back-video {
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ration: 16/9) {
    .back-video {
        width: 100%;
        height: auto;
    }
}


#jai{
    width: 200%;
}